/* global scss */
#app {
  font-family: 'M PLUS 1p', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-size: 16px;
  height: 100%;
  background-color: #f3e5d8;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.title {
  color: #9b3131;
}

.ProseMirror {
  outline: none;

  p {
    margin: 0rem;
  }
}


// Element Plus Style
.el-input__inner {
  &:focus {
    border-color: #c41168;
  }
}

.hiqidashi-input {
  .el-input__inner {
    border-radius: 0px;
    border-color: transparent;
    &:focus {
      border-color: transparent;
    }
  }
}

.material-icons {
  user-select: none;
}